@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--secondary-color);
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: var(--background-color-secondary);
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: var(--background-color-primary);
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: sticky;
    top: 0; /* Sticky konumlandırmayı etkinleştirir */
}

    #sidebar.expand {
        width: 260px;
        min-width: 260px;
    }

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

    .toggle-btn i {
        font-size: 1.5rem;
        color: var(--secondary-color);
    }

.sidebar-logo {
    margin: auto 0;
}

    .sidebar-logo a {
        color: var(--secondary-color);
        font-size: 1.15rem;
        font-weight: 600;
    }

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    height: 100vh;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: var(--secondary-color);
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: var(--sidehover);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: var(--background-color-primary);
    color: var(--primary-color);
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown + .sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}
tr {
    color: var(--secondary-color) !important;
}
td.tablo {
    color: var(--secondary-color) !important;
}
th.tablo {
    color: var(--secondary-color) !important;
}

tr:hover td {
    color: #44b478;
    cursor: pointer;
    background-color: var(--sidehover);
}

/* Genel durumda .show sınıfına sahip hücreleri gizle */
td.show, th.show {
    display: none;
    color: var(--secondary-color) !important;
}
/*.btnpasif {
    color: var(--secondary-color) !important;
}*/

/* Küçük ekranlarda td ve th elemanlarını gizle */
@media (max-width: 767.98px) {
    td.tablo, th.tablo {
        display: none;
        color: var(--secondary-color) !important;
    }
        /* Sadece .show sınıfına sahip hücreleri göstermek için */
    td.show, th.show {
        display: block;
        color: var(--secondary-color) !important;
    }
}
.Kartlar {
    color: var(--secondary-color) !important;
    background-color: var(--background-color-primary);
}

#dark-light {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: var(--dark-light);
}
:root {
    --sidehover: rgba(0, 0, 0, .075);
    --primary-color: #a1a1a1;
    --secondary-color: #1a1a1a;
    --background-color-primary: #ffffff;
    --background-color-secondary: #f8f9fa;
    --menu-hover-background: #e3e9f0;
    --menu-hover-color: #1a1a1a;
    --dark-light: #1a1a1a;
    
}

body.dark_colors {
    --sidehover: rgba(255, 255, 255, .075);
    --primary-color: #a1a1a1;
    --secondary-color: #ffffff;
    --background-color-primary: #2c2d31;
    --background-color-secondary: #1a1a1a;
    --menu-hover-background: #1a1a1a;
    --menu-hover-color: #e3e9f0;
    --dark-light: #ffffff;
}

#exampleModal {
    color: var(--secondary-color) !important;

}
.modal-content {
    background-color: var(--background-color-primary) !important;
}




